body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: background: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

button {
  cursor: pointer;
}
